<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/088196bd-2bf2-4806-8186-d0740d1a25fe.css">
    <link type="text/css" rel="stylesheet" href="~/assets/app.css"/>
    <link type="text/css" rel="stylesheet" href="~/assets/suggestions.css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
